@font-face {
  font-family: "BadScript";
  src: url("./../../fonts/AnyConv.com__BadScript-Regular.woff") format("woff"),
    url("./../../fonts/AnyConv.com__BadScript-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./../../fonts/AnyConv.com__Roboto-Light.woff") format("woff"),
    url("./../../fonts/AnyConv.com__Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-reg";
  src: url("./../../fonts/AnyConv.com__Roboto-Regular.woff") format("woff"),
    url("./../../fonts/AnyConv.com__BadScript-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-thin";
  src: url("./../../fonts/AnyConv.com__Roboto-Thin.woff") format("woff"),
    url("./../../fonts/AnyConv.com__Roboto-Thin.woff2") format("woff2");
  font-weight: 250;
  font-style: normal;
}
